{% extends 'base.html' %}

{% block title %}
Kesseman|FAQ
{% endblock %}


{% block content %}

<div class="container">
   <div class="row">
     <div class="col">
      
      <h4> FAQ </h4>

      <label for="" class="text-info">how do you guys acceept payment</label>
      <h6>we accept payment view mobile money <a class="text-info" href="tel:+233540761703"> <b>number</b> </a> or through our bank account num 2422462v423v52</h6>
<hr><br>
<label for="" class="text-info">how can i reach you guys in case of assisstance</label>
<h6>you can reach us via our whatsapp <a class="text-info" href="https://wa.me/+233540761703">whatsapp</a> or via  email  <b class="text-muted">koforiduaecotourismghana@gmail.com</b> </h6><hr><br>
     
<label for=""  class="text-info">how do i know if my request have been processed</label>
<h6>upon filling out this form <a href="{% url 'booking'%}">booking</a> and clicking on <b class="text-info">submit</b> an email will be sent to the us and the email you provided  confirming you process went successfull </h6><hr><br>





</div>
   </div>
    
</div>

  
{% endblock  %}