<!DOCTYPE html>
{% load static %}
<html>

<head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    
      <link rel="stylesheet" href="{% static 'css/Footer-white.css' %}">
      <link rel="stylesheet" href="{% static 'css/demo.css' %}">
    
</head>

<body>
<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            <ul>
                <!-- <li><a href="#">Company Information</a></li> -->
                <!-- Button trigger modal -->
                
                <button class="btn btn-link" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modelId" style="color: rgb(37, 35, 35)">
                   <h4>About Us</h4 >
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">About us</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <div class="modal-body">
                               Eastern tour is an organization which aim to promote the tourism sector in the Eastern Region of Ghana and tourist for easy access of information.
We provide digital directions or GPS map to tourist sites and nearby hotels or Homestay.
Our mission is to globalize the Eastern Region Of Ghana to the world. 
For more information 

Contact us.
<a class="text-info"  href="tel:+233 540 7617 03">Call </a> <a class="text-info" href="https://wa.me/+233 540 7617 03">WhatsApp</a> <br>
Email: koforiduaecotourism@yahoo.com
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <li><a href="tel:+233540761703"><h4>Contact us</h4></a></li>
                <li><a href="#"><h4>Reviews</h4></a></li>
                <li><a href="#"><h4>Terms of service</h4></a></li>
                 <li><a href="{% url 'faq' %}"><h4>faq</h4></a></li>
            </ul>
        <p class="footer-copyright">© 
          <script>document.write(new Date().getFullYear()) </script>
        Copyright </p>
        </div>
        <div class="footer-social">
            <a href="#" class="social-icons"><i class="fa fa-facebook"></i></a>
            <a href="https://web.whatsapp.com/send?phone=+233540761703" class="social-icons"><i class="fa fa-whatsapp"></i></a>
            <a href="#" class="social-icons"><i class="fa fa-twitter"></i></a>
           
            
        </div>
    </footer>
    
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
