{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-primary">
          <h4 class="text-muted text-center">Procceed to book  </h4>

<form method="POST">
        {% csrf_token %}
        {{  addbooking|crispy}}
        <hr>
        <input type="submit" class="btn btn-info btn-block" value="submit">
        
    </form
              <div class="card-body">

            
               
              </div>
            </div>
        </div>
        <hr>
     <label class="display-4" for="">info about the tour guides <a class="text-info" href="{% url 'persons' %}">here</a> </label>
     <hr>
    </div>

  
    
{% endblock content %}
