{% extends 'base.html' %}
{% load static %}


{% block content %}
 <nav class="breadcrumb">
            <a class="breadcrumb-item display-4 " href="{% url 'home' %}"><b>home</b></a>
            <!-- <a class="breadcrumb-item" href="#">si</a> -->
            <!-- <span class="breadcrumb-item active"></span> -->
        </nav>
<div class="container my-4" style="border-style: groove;">

    <div class="row">
        <div class="row">
            <div class="card text-left">
              <img class="card-img-top" src="{% static 'img/IMG-20190530-WA0010.jpg'  %}" alt="">
              <div class="card-body">
                <h4 class="card-title ">About Eastern Region </h4>
                <p class="card-text">
                    <div class="card">
                        <div class="body text-capitalise text-muted">

       <p>
        The Eastern Region of Ghana is a rich blend of dramatic landscapes, historic relics and traditional cultures. The ancient blends with the 20th century in this region so close to but such a contrast with Accra.

        The region is dominated by Lake Volta, one of the world’s largest man-made lakes, and the Akosombo Dam, source of much of Ghana’s hydroelectric power. Both are worth a visit. A favourite excursion is the weekend trip to Dodi Islands.
        
        Striking landscapes are overlooked by the Krobo Mountains and the Akwapim Ridge, and the countryside is great walking country. The Eastern Region is famous for its large areas of lush tropical forest, and cascading waterfalls. Fishermen will enjoy great sport fishing for tilapia in Lake Volta.
        
        The Eastern Region contains Ghana’s only commercial diamond mine at Akwatia, while the birthplace of our great cocoa industry can be found at Mampong-Akwapim. For those with a particular interest, the Cocoa Research Institute at New Tafo, with its arboreta, welcomes visitors. The regional capital is Koforidua, a pleasant traditional town with agreeable hotels and a busy market.
        
        Traditional and historic villages and towns are part of the richness of the Eastern Region of Ghana. Visitors should take the opportunity of visiting the original Presbyterian school buildings in Akropong, and the house of Tetteh Quarshie in Mampong. Both these towns have many interesting historic buildings and districts.
        
        Many visitor’s introduction to the Eastern region is the botanical gardens at Aburi, which were opened in 1890, and have always been a favourite excursion from Accra. Also worth a visit is the forest of Atewa-Atwirebu, hundreds of birds and butterflies.
        LOCATION
        
        Latitude 5° 40° and 7°, 10 North, and longitude 08 east, 1 ° 15′ of the Greenwich Meridian.
        
        BORDERS
        
        It shares boundary on the north with Brong-Ahafo and Ashanti Regions, on the East with Volta Region, on the west with Central and Greater Accra on the south.
        
        CAPITAL
        
        The capital town of the eastern Region is Koforidua about 85km scarp from Accra.
        
        CLIMATE
        
        Temperatures in the Region vary from 240c to about 280c with average rainfall between 1750mm in the low lying areas to about 1750mm per annum in the highland area of the Kwahu scarp.
        
        ETHNIC GROUPS & LANGUAGE
        
        The Eastern Region consists of the Akwapim, Akyem, Kwahu, Krobo and Guans and each ethnic group has its own distinct, language festival practices.
       </p>
                        </div>
                    </div>
                </p>
                <hr>
                <p class="display-4 text-info"> <u>map of Eastern Region</u></p>
 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d977880.3988524595!2d-0.8916792215723538!3d6.454759833736108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfd930440cc0ef5f%3A0x2e121736feab7f16!2sEastern+Region!5e0!3m2!1sen!2sgh!4v1559407047292!5m2!1sen!2sgh" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

 <style>
 .body{
     color: darkmagenta;
 }
 </style>
              </div>
              
            </div>   
        
            
        
        </div>



    </div>
</div>

{% endblock content %}

{% static 'img/IMG-20190530-WA0010.jpg'  %}