{% extends 'base.html' %}


{% block content %}
{% load static %}
<div class="container text-center">


<!-- {% include 'partials/carousel.html' %} -->


    <div class="row">

        <div class=" col-12">
            <div class="card">


                <a href="{% url 'toristSite' %}">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Attractions</h5>
                        <p class="card-text">
                       <img class="img-fluid" src="{% static 'img/attr.jpeg' %}" alt="">

                        </p>
                    </div>
                </a>
            </div>
            <!--  -->
            <div class="card">

               <a href="{% url 'hotels' %}">
                <div class="card-body">
                    <h5 class="card-title text-danger">Accoummodation</h5>
                    <img class="" src="{% static 'img/imagesd.jpeg' %}" alt="">
                    <!-- <p class="card-text">Content</p> -->
                </div>
               </a>
            </div>
            <!--  -->
            <div class="card">

               <a href="{% url 'aboutpage' %}">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text text-danger">About Eastern Region</p>
                    <img class="rounded" src="{% static 'img/info.jpeg' %}" alt="">
                </div>
               </a>
            </div>
            <!--  -->
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title text-danger"></h5>
                    <p class="card-text"><i class="fa fa-trai fa-4x" aria-hidden="true"></i> </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
